*
{
  font-family: 'Inter Tight'  , sans-serif;
  /* overflow-x: hidden; */

}
.illus
{
  position: absolute;
  top: 40%;
 
  width: 30em;
  z-index: -1;
}
.title
{
  font-size: 7em;
  font-weight: 500;
  color: rgb(26, 26, 26);
}
@media (max-width: 500px) {
  .title {
    font-size: 3em;
  }
  .caption 
{
 font-size: 30px;
}

}

.caption 
{
 text-align: center;
 color: rgb(26, 26, 26);
}
.stl
{

  height: 91vh; 
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  z-index: 0;
}
.blob
{
  position: absolute;
  
  width:200%;
  height: 00%;
 
  height: auto;
  opacity: 0.7;
   z-index: -1; 
  filter: blur(100px);
  height:50pc;
}
.blobx
{
  position: absolute;
  
  width:200%;
  height: 00%;
 
  height: auto;
  opacity: 0.7;
   z-index: -1; 
  filter: blur(100px);
  height:50pc;
}
form {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #44444451;
  border-radius: 0.375rem;
 
  background-color: rgba(255, 255, 255, 0.853);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.btn-primary {
  background-color:  #6100bd;
  border-color:  #6100bd;
  font-weight: 600;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn-primary:hover {
  background-color: #6100bd;
  border-color:  #6100bd;
}

.title
{
  text-align: center;
}
/* .navbar
{
  background-color: #0e0e0e;
 
}
.navbar a
{
  color: white;
} */
@media screen and (max-width: 768px) {
  /* Styles for screens with a minimum width of 768px */
  .forma
  {
    overflow-y: scroll;
    padding-top: 10em;
  }
  .stl{
  
    margin-bottom: 2em;
  }
}

.btn-purple
{
  background-color: rgb(98, 0, 128);
  color: white;
}
.btn-purple:focus
{
  box-shadow: 0 0 0 0.2rem rgba(98, 0, 128, 0.25);
  border-color: rgb(98, 0, 128);
  background-color: rgb(119, 2, 155);
}
.btn-purple:hover
{
  
  background-color: rgb(119, 2, 155);
}





.form-layer
{
  height: 100%;
}

.aurora-gradient {
  background: linear-gradient(180deg, #3A0088 0%, #000000 100%);
  background-size: 400% 400%;
  animation: aurora-gradient-animation 10s ease infinite;
}

@keyframes aurora-gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@media (max-width: 500px) {
  /* optional responsive styles */
  .form-container {
    padding: 10px;
  }

  input {
    font-size: 0.8em;
  }

  .submit-button {
    font-size: 0.8em;
  }
}
